<form (submit)="guardar()" ngNativeValidate>
    <h1>Nuevo Socio</h1>
    <hr>
    <p>Nombre:</p>
    <input type="text" name="nombreSocio" [(ngModel)]="socio.nombreSocio" placeholder="Nombre completo del socio" class="form-control" required>
    <p>Tipo Documento:</p>
    <select name="tipoDocumento" [(ngModel)]="socio.tipoDocumento" class="form-control" required>
        <option *ngFor="let item of lista" [ngValue]="item">{{item}}</option>
    </select>
    <p>Documento:</p>
    <input type="number" name="documento" [(ngModel)]="socio.documento" placeholder="Numero de documento del socio" class="form-control" required>
    <p>Telefono:</p>
    <input type="number" name="telefono" [(ngModel)]="socio.telefono" placeholder="Telefono del socio" class="form-control" required>
    <p>Email:</p>
    <input type="email" name="email" [(ngModel)]="socio.email" placeholder="Correo Electronico del socio" class="form-control" required>
    <hr>
    <button type="submit" class="btn btn-success">Guardar</button>
</form>