<h1>TAMASYS</h1>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/consultar']">Consultar Socios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/nuevo']">Nuevo Socio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/consultar_vehiculo']">Consultar Vehiculos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/nuevo_vehiculo']">Nuevo Vehiculo</a>
    </li>
  </ul>
</nav>
<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
