<form (submit)="guardar()" ngNativeValidate>
  <h1>Nuevo Vehículo</h1>
  <hr />

  <p>Documento Socio:</p>
  <input
    required
    name="docSocio"
    type="text"
    [(ngModel)]="m.docSocio"
    placeholder="Documento del socio"
    class="form-control"
  />
  <p>Documento Conductor:</p>
  <input
    required
    name="docConductor"
    type="text"
    [(ngModel)]="m.docConductor"
    placeholder="Documento del conductor"
    class="form-control"
  />
  <p>Placa:</p>
  <input
    required
    name="placa"
    type="text"
    [(ngModel)]="m.placa"
    placeholder="Placa"
    class="form-control"
  />
  <p>Número Taxi:</p>
  <input
    required
    name="numeroTaxi"
    type="text"
    [(ngModel)]="m.numeroTaxi"
    placeholder="Numero del taxi"
    class="form-control"
  />
  <p>SOAT:</p>
  <input
    required
    name="soat"
    type="date"
    [(ngModel)]="m.soat"
    placeholder="Soat"
    class="form-control"
  />
  <p>Técnico Mecánica:</p>
  <input
    required
    name="tecnicoMecanica"
    type="date"
    [(ngModel)]="m.tecnicoMecanica"
    placeholder="Técnico Mecánica"
    class="form-control"
  />
  <hr />
  <button type="submit" class="btn btn-success">Guardar</button>
  <input type="reset" class="btn btn-primary" value="Restablecer" />
</form>
