<form (submit)="guardar()" ngNativeValidate>
  <h1>Nuevo Vehículo</h1>
  <hr />

  <p>Documento Socio:</p>
  <select name="docSocio" [(ngModel)]="vehiculo.docSocio" class="form-control" required>
    <option *ngFor="let socio of socios" [ngValue]="socio.documento">{{socio.documento}}</option>
  </select>

  <p>Documento Conductor:</p>
  <select name="docConductor" [(ngModel)]="vehiculo.docConductor" class="form-control" required>
    <option *ngFor="let conductor of conductores" [ngValue]="conductor.documento">{{conductor.documento}}</option>
  </select>

  <p>Placa:</p>
  <input
    required
    name="placa"
    type="text"
    [(ngModel)]="vehiculo.placa"
    placeholder="Placa"
    class="form-control"
  />
  <p>Número Taxi:</p>
  <input
    required
    name="numeroTaxi"
    type="text"
    [(ngModel)]="vehiculo.numeroTaxi"
    placeholder="Numero del taxi"
    class="form-control"
  />
  <p>SOAT:</p>
  <input
    required
    name="soat"
    type="date"
    [(ngModel)]="vehiculo.soat"
    placeholder="Soat"
    class="form-control"
  />
  <p>Técnico Mecánica:</p>
  <input
    required
    name="tecnicoMecanica"
    type="date"
    [(ngModel)]="vehiculo.tecnicoMecanica"
    placeholder="Técnico Mecánica"
    class="form-control"
  />
  <hr />
  <button type="submit" class="btn btn-success">Guardar</button>
  <input type="reset" class="btn btn-primary" value="Restablecer" />
</form>
