<br />
<h1>Actualizar Vehículo</h1>
<hr />

<p>Documento Socio:</p>
<select name="docSocio" [(ngModel)]="vehiculo.docSocio" class="form-control" required>
  <option *ngFor="let socio of socios" [ngValue]="socio.documento" >{{socio.documento}}</option>
</select>

<p>Documento Conductor:</p>
<select name="docConductor" [(ngModel)]="vehiculo.docConductor" class="form-control" required>
  <option *ngFor="let conductor of conductores" [ngValue]="conductor.documento">{{conductor.documento}}</option>
</select>

<p>Placa:</p>
<input
  type="text"
  [(ngModel)]="vehiculo.placa"
  placeholder="Placa"
  class="form-control"
/>
<p>Número Taxi:</p>
<input
  type="text"
  [(ngModel)]="vehiculo.numeroTaxi"
  placeholder="Numero del taxi"
  class="form-control"
/>
<p>SOAT:</p>
<input
  type="date"
  [(ngModel)]="vehiculo.soat"
  placeholder="Soat"
  class="form-control"
/>
<p>Técnico Mecánica:</p>
<input
  type="date"
  [(ngModel)]="vehiculo.tecnicoMecanica"
  placeholder="Técnico Mecánica"
  class="form-control"
/>
<hr />
<button (click)="Actualizar()" class="btn btn-primary">Actualizar</button>
